<div class="mb-12 max-w-2xl mx-auto">
    <div class="relative">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <i data-lucide="search" class="w-5 h-5 text-gray-200"></i>
        </span>
        <input type="text" id="searchInput" placeholder="搜尋植物名稱..." class="w-full pl-10 pr-4 py-3 border border-slate-500 rounded-full bg-slate-900/80 backdrop-blur-md text-gray-100 focus:outline-none focus:ring-2 focus:ring-sky-500">
    </div>
</div>
